---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <header class="fixed right-0 left-0 h-[70px] bg-tertiary"></header>
  <main class="pt-[70px]">
    <section class="min-h-screen pt-4" id="hero">
      <h1 class="font-bold text-tertiary">Hi, my name is</h1>
      <h2
        class="font-bold text-secondary text-3xl sm:text-6xl lg:text-7xl text [word-spacing:-0.1rem] tracking-tight mt-6"
      >
        Firstname Lastname.
      </h2>
      <h3 class="font-bold text-secondary mt-6">I build for the web.</h3>
      <p class="max-w-[50ch] mt-6">
        I'm a front-end engineer building exceptional user interfaces for the
        web with an eye on details.
      </p>
    </section>
    <section class="min-h-screen pt-4" id="about">
      <h2 class="font-bold">About</h2>
    </section>
    <section class="min-h-screen pt-4" id="projects">
      <h2 class="font-bold">Projects</h2>
    </section>
    <section class="min-h-screen pt-4" id="contact">
      <h2 class="font-bold">Contact</h2>
    </section>
  </main>
  <footer class="min-h-[50px]">
    <small> Made with 🤍 in 2024 </small>
  </footer>
</Layout>
