---
import Layout from "@layouts/Layout.astro";
import Heading from "@components/Heading.astro";
import Text from "@components/Text.astro";
---

<Layout title="Welcome to Astro.">
  <header class="fixed right-0 left-0 h-[70px] bg-tertiary"></header>
  <main class="pt-[70px]">
    <section class="min-h-screen pt-4" id="hero">
      <Heading class="text-tertiary text-base" level={1}>
        Hi, my name is
      </Heading>
      <Heading level={2} class="mt-6" big> Firstname Lastname. </Heading>
      <Heading level={3} class="mt-6" big> I build for the web. </Heading>
      <Text class="max-w-[50ch] mt-6">
        I'm a front-end engineer building exceptional user interfaces for the
        web with an eye on details.
      </Text>
    </section>
    <section class="min-h-screen pt-4" id="about">
      <h2 class="font-bold">About</h2>
      <Text
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit ipsam
        nobis saepe ducimus minima neque quos accusamus consequatur, quo
        placeat.</Text
      >
    </section>
    <section class="min-h-screen pt-4" id="projects">
      <h2 class="font-bold">Projects</h2>
      <Text
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit ipsam
        nobis saepe ducimus minima neque quos accusamus consequatur, quo
        placeat.</Text
      >
    </section>
    <section class="min-h-screen pt-4" id="contact">
      <h2 class="font-bold">Contact</h2>
      <Text
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit ipsam
        nobis saepe ducimus minima neque quos accusamus consequatur, quo
        placeat.</Text
      >
    </section>
  </main>
  <footer class="min-h-[50px]">
    <small> Made with 🤍 in 2024 </small>
  </footer>
</Layout>
