---
import "@fontsource-variable/roboto-mono";
import { primary } from "tailwind.config.mjs";

type Props = { children: any };
---

<!doctype html>
<html
  class="min-h-full flex flex-col bg-primary text-secondary-tinted"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <meta name="theme-color" content={primary} />
    <meta
      name="description"
      content="Firstname Lastname is a front-end engineer who builds exceptional user interfaces for
    the web with an eye on details."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="author" content="Aleksi Toivonen" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Firstname Lastname</title>
  </head>
  <body class="flex-grow">
    <slot />
  </body>
</html>
